doctype html

html
  head
    title Anti-Paradox Run
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='bundle.css')
  body
    #game-container
      #canvas-container.resize
        canvas#game
        canvas#restart-screen
        canvas#restart-button
      #mobile-controls
        #up
        #down
    #start-screen
      #intro-container.resize
        canvas#intro
        canvas#start-button

    script(src='bundle.js')
